*._*
.DS_Store
*.meta*
~$*.*
*jsbundle*
*jsbundle*.*
*.bundle

lunarhook/android/app/src/main/res/drawable*
lunarhook/ios/bundle/assets/
lunarhook/yarn.lock
lunarhook/package-lock.json
lunarhook/ios/Pods/
lunarhook/android/app/src/main/res/raw/
lunarhook/android/app/src/main/assets/index.android.bundle.meta
lunarhook/android/app/src/main/assets/index.android.bundle
lunarhook/android/app/src/main/res/*
*.vscode*
